@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>
<p>@ViewData["Email"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.google.com">Google</a>
</address>